:root {
  /* color pallette: https://coolors.co/palette/2d3142-4f5d75-bfc0c0-ffffff-ef8354 */

  --darkblue: #2d3142;
  --lightblue: #4f5d75;
  --light: #bfc0c0;
  --white: #ffffff;
  --peach: #ef8354;
  --border: red;
}

h1 {
  margin: auto 30px;
  padding: 10px;
  color: var(--darkblue);
  font-weight: bold;
  font-family: monospace;
}

.App {
  font-family: sans-serif;
}

p {
  font-family: Roboto;
}

.p-about {
  font-family: Roboto;
  font-size: 20px;
}

li {
  font-family: Roboto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.card {
  font-weight: 400;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.header {
  padding-top: 1rem;
  padding-left: 40px;
  background-color: var(--darkblue);
}

.title {
  padding-top: 1rem;
  padding-left: 40px;
  font-size: 23px;
  font-weight: bold;
}

.card-body {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex: 1 1 auto;
  min-height: 1px;
  padding-top: 1rem;
  /* background-color: var(--peach); */
}

.modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
  margin-bottom: 0.25rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  padding-top: 1rem;
}

.jumbotron {
  background-color: var(--lightblue);
  border-radius: 0.125rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.img-skills {
  max-width: 80%;
  height: auto;
}

.grid-container-skills {
  display: grid;
  align-items: left;
  justify-items: left;
  grid-template-columns: repeat(auto-fill, 170px);
  grid-template-rows: repeat(auto-fill, 100px);
}

.grid-item-skills {
  padding-left: 20px;
  text-align: left;
}

.grid-container-profile {
  display: grid;
  align-items: left;
  justify-items: left;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(3, 100px);
  margin: 1.5%;
}

.university-logo {
  float: right;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.code {
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  display: block;
  unicode-bidi: embed;
  white-space: pre-line;
  padding-bottom: 10px;
}

.edu {
  margin-left: 1.5%;
}

.icon {
  padding: 10px;
}

.abstract-back {
  background-image: url("assets/images/Background2.png");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* portfolio css */
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 120px);
  grid-gap: 10px;
  flex: 2 60%;
  margin: 3.5%;
  line-height: 1.5;
}

.grid-item img:hover {
  opacity: 0.5;
}

.gallery__item--1 {
  grid-column: 1/3;
  grid-row: 1/3;
}

.gallery__item--2 {
  grid-column: 3/3;
  grid-row: 1 / span 1;
}

.gallery__item--3 {
  grid-column: 3/3;
  grid-row: 2 / span 1;
}

.gallery__item--4 {
  grid-column: 1/1;
  grid-row: 3/ 3;
}

.gallery__item--5 {
  grid-column: 2/3;
  grid-row: 3 / span 2;
}

.gallery__item--6 {
  grid-column: 3/3;
  grid-row: 3 / span 2;
}

.gallery__item--7 {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.gallery__item--8 {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

.gallery__item--9 {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

.gallery__item--10 {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.gallery__item--11 {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid var(--border);
}

.grid-item {
  position: relative;
}

.desc {
  background-color: var(--peach);
  padding: 5px 5px;
  position: absolute;
  top: 5px;
  font-size: small;
  overflow-wrap: break-word;
  width: 130px;
}

.dep-links {
  position: absolute;
  bottom: 5px;
  font-size: small;
  overflow-wrap: break-word;
  width: 130px;
}

.desc h5 {
  font-family: "Comic Sans MS";
  font-size: small;
}

.desc p {
  font-size: smaller;
}

/* footer css */
.footer {
  padding-top: 1rem;
}

.img-link {
  text-align: center;
}

.footer-info {
  font-size: 24px;
  color: var(--light);
  font-weight: bold;
  background-color: var(--darkblue);
  text-align: center;
}

#footer {
  padding: 5px;
  margin-top: 10px;
}

.icon {
  padding: 10px;
}

#contact-section {
  justify-content: center;
  margin: 20px;
  margin-left: 2em;
  margin-right: 2em;
}

#footer {
  background-color: var(--darkblue);
}

#footer .icon {
  background-color: var(--darkblue);
  margin-top: 20px;
}

#footer p {
  background-color: var(--darkblue);
  margin-top: 8px;
}

#footer a {
  text-decoration: none;
  color: var(--orange-soda);
}

#react-icon {
  background-color: var(--darkblue);
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1000px !important;
  }
}

@media screen and (max-width: 768px) {
  .grid-container-profile {
    grid-template-columns: repeat(2, 330px);
    grid-template-rows: repeat(3, 100px);
  }
}

@media screen and (max-width: 980px) {
  .grid-container-profile {
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: repeat(3, 100px);
  }

  .header {
    padding-top: 1rem;
    padding-left: 15px;
  }

  .modal-footer {
    margin-left: 1rem;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 120px);
  }

  .gallery__item--1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .gallery__item--2 {
    grid-column: 2/2;
    grid-row: 1 / span 1;
  }

  .gallery__item--3 {
    grid-column: 2/2;
    grid-row: 2 / span 1;
  }

  .gallery__item--4 {
    grid-column: 1/1;
    grid-row: 3/ 3;
  }

  .gallery__item--5 {
    grid-column: 1/2;
    grid-row: 4 / span 1;
  }

  .gallery__item--6 {
    grid-column: 1/2;
    grid-row: 4 / span 1;
  }

  .gallery__item--7 {
    grid-column: 2/2;
    grid-row: 4 / span 1;
  }

  .gallery__item--8 {
    grid-column: 1/2;
    grid-row: 5 / span 1;
  }

  .gallery__item--9 {
    grid-column: 2/2;
    grid-row: 5 / span 1;
  }

  .gallery__item--10 {
    grid-column: 1/ 2;
    grid-row: 6 / span 1;
  }

  .gallery__item--11 {
    grid-column: 1/ 1;
    grid-row: 7 / span 1;
  }
}

@media screen and (max-width: 575px) {
  .abstract-back {
    background-image: url("assets/images/Background2.png");
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .grid-container-profile {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(3, 120px);
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
